.info-wrapper{
    height:0;
    
    background: #b10b0b;
    color: white;
    
    overflow: hidden;
    transition: all .3s ease-in-out;
    
    &.expanded {
        height: 100px;
        padding: 10px;
    }

    .info-title{
        font-weight: bold;
    }

    .info-list{
        padding-left: 25px;
    }  
}