$extension-green: #1aa260;
$extension-blue: #4C8BF5;
$extension-red: #ca2222;

body {
    width: 700px;
    margin: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: anti-aliased;
}

.popup-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding: 80px 35px 35px 35px;

    transition: all .3s ease-in-out;

    &.no-email-settings-open{
        padding-top: 195px;
    }

    .title-email {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 14px;

        margin: 20px;
        padding: 13px;
        
        color: #1aa260;
        background: #eee;
        
        font-size: 24px;
        
        border-radius: 5px;
        box-shadow: 0 0 2px #000;

        .title-email-text{
            font-weight: bold;
            margin-right: 10px;
        }

        // .rating-info-button{
        //     margin-left: 10px;
            
        //     color: #888;

        //     font-size: 17px;
        // }
    }

    .title-no-email{
        position: absolute;
        top: 14px;
        left: 14px;

        margin: 20px;
        
        color: #1aa260;
        
        font-size: 24px;
        font-weight: bold;
    }

    .block-button-wrapper{
        align-self: flex-start;

        padding: 10px;

        background-color: #eee;

        border-radius: 5px;
        box-shadow: 0 0 2px #000;
    }
    

    .options-wrapper{
        display: flex;
        justify-content: flex-end;

        position: absolute;
        top: 0;
        right: 0;

        margin: 20px 34px 0 0;
        padding: 10px;

        background-color: #eee;

        border-radius: 5px;
        box-shadow: 0 0 2px #000;


        .switch {
            position: relative;
            display: inline-block;
            width: 70px;
            height: 34px;
        }
          
        .switch input {
            display:none;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ca2222;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: $extension-green;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px $extension-blue;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(35px);
            -ms-transform: translateX(35px);
            transform: translateX(35px);
        }
        
        .on{
            display: none;
        }
        
        .text{
            color: white;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            font-size: 10px;
            font-family: Verdana, sans-serif;
        }

        .on {
            left: 34%;
        }

        .off{
            left: 65%;
        }
        
        input:checked+ .slider .on{
            display: block;
        }
        
        input:checked + .slider .off{
            display: none;
        }
        
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }


        .menu-button{
        color: #888;

        margin-right: 10px;
        max-height: 32px;

        font-size: 31px;

        cursor: pointer;

        &:hover{
            color: lighten(#888, 10%);
        }
        }
    }
 
    .table-title{
        align-self: flex-start;

        margin-top: 20px;

        color: #666;

        font-size: 16px;
        font-weight: bold;

        .learn-button{
            color: $extension-blue;

            font-weight: normal;
            font-size: 12px;

            &:hover{
                cursor: pointer;
                color: lighten($extension-blue, 10%);
            }
        }
    }

    .table{
        width: 100%;

        margin: 10px 0;

        border-radius: 5px;
    
        font-size: 13px;

        box-shadow: 0 0 1px;

        &.dynamic-table{
            max-height: 200px;
            overflow-y: scroll;

        }
        .row{
            display: flex;

            background: #fff;

            
            border-bottom: 1px solid #f2f2f2;
            
            &.header{
                background-color: $extension-blue;

                border-radius: 5px 5px 0 0;
                                
                .cell{
                    color: #fff;
                    font-weight: bold;
                }
            }

            &:last-child{
                border-radius: 0 0 5px 5px;
            }
            
            .cell{
                flex: 1;
                
                color: #666;
                
                padding: 10px; 
                
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
                box-sizing: border-box;
                
                &.value{
                    flex: 2;
                }

                &.tick-cross{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    font-size: 21px;

                    .fa-circle-check{
                        color: $extension-green;
                    }
                    .fa-circle-xmark{
                        color: $extension-red;
                    }
                }

                &:hover{
                    cursor: default;
                }

                abbr[title] {
                    text-decoration: none;

                    .text-highlight{
                        color: $extension-blue;
                        font-weight: bold;
                    }
                }
                
                .learn-button{
                    color: $extension-blue;
                    &:hover{
                        color: lighten($extension-blue, 10%);
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
}

.disabled{
    background-color: #d3d3d3 !important;
}
.disabled-text{
    color: #d3d3d3 !important;
}

@import 'rating';
@import 'info';
@import 'settings';
@import 'block';