body {
    width: 256px;
    margin: 12px 24px 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #7f8c8d;
    -webkit-font-smoothing: anti-aliased;
}

.popup-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 24px;
        color: #1aa260;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        
        input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;

            &:before{
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            &.round{
                border-radius: 34px;

                &:before{
                    border-radius: 50%;
                }
            }
        }
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

    .buttons {
        display: flex;
    
        > button {
    
            &.state-on {
                border: 1px solid #e74c3c;
                color: #e74c3c;
    
                &.is-active,
                &:hover {
                    border: 1px solid #e74c3c;
                    background: #e74c3c;
                    color: #fff;
                }
                &:active {
                    border: 1px solid #e74c3c;
                    background: darken(#e74c3c, 5%);
                    color: #fff;
                }
                &:focus {
                    box-shadow: 0 0 0 2px lighten(#e74c3c, 20%);
                }
            }
            &.state-off {
                border: 1px solid #7f8c8d;
                color: #7f8c8d;
    
                &.is-active,
                &:hover {
                    border: 1px solid #7f8c8d;
                    background: #7f8c8d;
                    color: #fff;
                }
                &:active {
                    border: 1px solid #7f8c8d;
                    background: darken(#7f8c8d, 5%);
                    color: #fff;
                }
                &:focus {
                    box-shadow: 0 0 0 2px lighten(#7f8c8d, 20%);
                }
            }
        }
    }
    
    button {
        background: #de5246;
        width: 80%;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1em;
        border: none;
        border-radius: 4px;
        margin-bottom: 10px;        
        padding: 6px 24px;
        color: #fff;
    
        &:focus {
            outline: 0;
        }
        &:hover {
            cursor: pointer;
        }
        &.state-save {
            background: #2c3e50;
            color: #fff;
            width: 100%;
            padding: 8px 24px;
    
            &:active {
                background: darken(#2c3e50, 5%);
            }
            &:focus {
                box-shadow: 0 0 0 2px lighten(#2c3e50, 20%);
            }
        }
    }
    
    .criteria-wrapper{
        width: 90%;

        margin: 30px 0;
        padding: 10px;
        
        background-color: #4C8BF5;
        color: #fff;
    
        border-radius: 5px;
    
        font-size: 13px;
        .label{
            
            padding: 8px 0;
            .criteria-title{
                display: inline-block;
                width: 49%;
            }
            .criteria-value{
                display: inline-block;
                width: 49%;
            }
        }
    }
}

.disabled{
    background-color: #d3d3d3 !important;
}