.rating{
    
    .dark-green{
        color:$extension-green;
    }
    .light-green{
        color:#9ac085;
    }
    .yellow{
        color:#dccd00;
    }
    .orange{
        color:#ff9912;
    }
    .red{
        color:#e90000;
    }
    .gray{
        color:gray;
    }
    
}