.settings-container{
    position: relative;

    max-width:0;
    max-height: 0;

    
    color: #434343;

    overflow: hidden;
    transition: all .3s ease-in-out;
    
    &.expanded {
        max-width: 300px;
        max-height: 200px;
        padding: 10px;
    }

    .settings-title{
        font-weight: bold;
        font-size: 18px;

        margin-bottom: 10px;

        .settings-cog-small{
            margin-left: 3px;
        }
    }

    .setting{
        display: flex;
        justify-content: space-between;

        margin-bottom: 10px;
        width: 270px;

        .setting-title{
            font-size: 13px;
        }

        select {
            width: 117px;
            padding: 5px;

            background: #fff;
            color: #000;
            
            border-radius: 5px;
            
            cursor: pointer;
        }

        input {
            cursor: pointer;
        }
    
    }
    .settings-close {
        position: absolute;
        bottom: 0;
        left: 0;

        margin: 2px;
        
        font-size: 15px;

        color: #999;
        
        cursor: pointer;

        transform: rotate(-45deg);
    }
}